<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Opret Bruger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body class="create-user-form">


<div class="return">
    <form th:action="@{/backtologinfromcreateuser}" method="get">
        <button type="submit" class="button-red">Tilbage</button>
    </form>
</div>

<div class="create-user-box">
    <div class="login-logo">
        <img src="../public/images/fog-banner-logo.png" th:src="@{/images/fog-banner-logo.png}"/>
    </div>

    <div class="create_user_input">
        <form method="post">
            <h2>Opret din bruger her</h2>

                    <label for="email">Indtast din email:</label><br>
                    <input type="text" id="email" name="email" placeholder="Email"
                           th:value="${session.currentCreateUser != null ? session.currentCreateUser.email : ''}">
                    <p class="error-message" th:each="entry : ${errormessages}" th:if="${entry.key == 'emailmsg'}"
                       th:text="${entry.value}"></p>
                    <br><br>

                    <div class="password-input-box">
                        <label for="password1"> Indtast dit password:</label><br>
                        <input type="password" id="password1" name="password1" placeholder="Password">
                        <img src="images/PasswordEye.png" id="eyeicon">
                        <br>

                        <label for="password2"> Indtast dit password igen:</label><br>
                        <input type="password" id="password2" name="password2" placeholder="Password">
                        <img src="images/PasswordEye.png" id="eyeicon2">

                        <br>
                    </div>


                    <p class="error-message" th:each="entry : ${errormessages}" th:if="${entry.key == 'passwordmsg'}"
                       th:text="${entry.value}"></p>
                    <br><br>


                    <label for="firstname">Indtast dit fornavn:</label><br>
                    <input type="text" id="firstname" name="firstname" placeholder="Fornavn"
                           th:value="${session.currentCreateUser != null ? session.currentCreateUser.firstname : ''}">
                    <p class="error-message" th:each="entry : ${errormessages}" th:if="${entry.key == 'firstnamemsg'}"
                       th:text="${entry.value}"></p>
                    <br><br>

                    <label for="lastname">Indtast dit efternavn:</label><br>
                    <input type="text" id="lastname" name="lastname" placeholder="Efternavn"
                           th:value="${session.currentCreateUser != null ? session.currentCreateUser.lastname : ''}">
                    <p class="error-message" th:each="entry : ${errormessages}" th:if="${entry.key == 'lastnamemsg'}"
                       th:text="${entry.value}"></p>
                    <br><br>

                    <label for="address">Indtast din adresse:</label><br>
                    <input type="text" id="address" name="address" placeholder="Adresse"
                           th:value="${session.currentCreateUser != null ? session.currentCreateUser.address : ''}">
                    <p class="error-message" th:each="entry : ${errormessages}" th:if="${entry.key == 'addressmsg'}"
                       th:text="${entry.value}"></p>
                    <br><br>

                    <label for="phonenumber">Indtast dit telefonnummer:</label><br>
                    <input type="text" onkeypress="return/[0-9]/.test(event.key)" id="phonenumber" name="phonenumber" placeholder="Telefonnummer"
                           th:value="${session.currentCreateUser != null ? session.currentCreateUser.phonenumber : ''}">
                    <p class="error-message" th:each="entry : ${errormessages}" th:if="${entry.key == 'phonenumbermsg'}"
                       th:text="${entry.value}"></p>
                    <br><br>

                    <label for="zipcode">Indtast dit postnummer:</label><br>
                    <input type="text" onkeypress="return/[0-9]/.test(event.key)" id="zipcode" name="zipcode" placeholder="Postnummer"
                           th:value="${session.currentCreateUser != null ? session.currentCreateUser.zipcode : ''}">
                    <p class="error-message" th:each="entry : ${errormessages}" th:if="${entry.key == 'zipcodemsg'}"
                       th:text="${entry.value}"></p>
                    <br><br>


            <button type="submit" class="button-green" id="submitbutton" formaction="/createuser">Opret bruger</button>
            <p class="error-message" th:each="entry : ${errormessages}" th:if="${entry.key == 'validinfomsg'}"
               th:text="${entry.value}"></p>
            <p class="error-message" th:each="entry : ${errormessages}" th:if="${entry.key == 'chaosmsg'}"
               th:text="${entry.value}"></p>
        </form>
    </div>
</div>

<script>
    const submitButton = document.getElementById("submitbutton");
    const emailcheck = document.querySelector("#email");
    const password1check = document.querySelector("#password1");
    const password2check = document.querySelector("#password2");
    const firstnamecheck = document.querySelector("#firstname");
    const lastnamecheck = document.querySelector("#lastname");
    const addresscheck = document.querySelector("#address");
    const phonenumbercheck = document.querySelector("#phonenumber");
    const zipcodecheck = document.querySelector("#zipcode");

    function emailValidation() {
        if (!emailcheck.value) {
            emailcheck.style.border = '3px solid';
            emailcheck.style.borderColor = 'red';
        } else {
            emailcheck.style.border = '0px';
            emailcheck.style.borderColor = 'transparent';
        }
    }

    function password1Validation() {
        if (!password1check.value) {
            password1check.style.border = '3px solid';
            password1check.style.borderColor = 'red';
        } else {
            password1check.style.border = '0px';
            password1check.style.borderColor = 'transparent';
        }
    }

    function password2Validation() {
        if (!password2check.value) {
            password2check.style.border = '3px solid';
            password2check.style.borderColor = 'red';
        } else {
            password2check.style.border = '0px';
            password2check.style.borderColor = 'transparent';
        }
    }

    function firstNameValidation() {
        if (!firstnamecheck.value) {
            firstnamecheck.style.border = '3px solid';
            firstnamecheck.style.borderColor = 'red';
        } else {
            firstnamecheck.style.border = '0px';
            firstnamecheck.style.borderColor = 'transparent';
        }
    }

    function lastNameValidation() {
        if (!lastnamecheck.value) {
            lastnamecheck.style.border = '3px solid';
            lastnamecheck.style.borderColor = 'red';
        } else {
            lastnamecheck.style.border = '0px';
            lastnamecheck.style.borderColor = 'transparent';
        }
    }

    function addressValidation() {
        if (!addresscheck.value) {
            addresscheck.style.border = '3px solid';
            addresscheck.style.borderColor = 'red';
        } else {
            addresscheck.style.border = '0px';
            addresscheck.style.borderColor = 'transparent';
        }
    }

    function phoneNumberValidation() {
        if (!phonenumbercheck.value) {
            phonenumbercheck.style.border = '3px solid';
            phonenumbercheck.style.borderColor = 'red';
        } else {
            phonenumbercheck.style.border = '0px';
            phonenumbercheck.style.borderColor = 'transparent';
        }
    }

    function zipcodeValidation() {
        if (!zipcodecheck.value) {
            zipcodecheck.style.border = '3px solid';
            zipcodecheck.style.borderColor = 'red';
        } else {
            zipcodecheck.style.border = '0px';
            zipcodecheck.style.borderColor = 'transparent';
        }
    }

    submitButton.addEventListener('click', event => {
        emailValidation()
        password1Validation()
        password2Validation()
        firstNameValidation()
        lastNameValidation()
        addressValidation()
        phoneNumberValidation()
        zipcodeValidation()
    });
</script>

<script>
    let eyeicon = document.getElementById("eyeicon")
    let eyeicon2 = document.getElementById("eyeicon2")

    let password = document.getElementById("password1")
    let password2 = document.getElementById("password2")
    eyeicon.onclick = function () {
        if (password.type == "password") {
            password.type = "text";
            password2.type = "text";
            eyeicon.src = "images/PasswordEye.png"
            eyeicon2.src = "images/PasswordEye.png"

        } else {
            password.type = "password";
            password2.type = "password";
            eyeicon.src = "images/PasswordEyeslash.png"
            eyeicon2.src = "images/PasswordEyeslash.png"
        }

        eyeicon2.onclick = function () {
            if (password.type == "password") {
                password.type = "text";
                password2.type = "text";
                eyeicon.src = "images/PasswordEye.png"
                eyeicon2.src = "images/PasswordEye.png"

            } else {
                password.type = "password";
                password2.type = "password";
                eyeicon.src = "images/PasswordEyeslash.png"
                eyeicon2.src = "images/PasswordEyeslash.png"
            }

        }
    }
</script>


</body>
</html>