<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kunde Overblik</title>

</head>
<body>

<header>
    <div class="return">
        <form th:action="@{/backtoindex}" method="get">
            <button class="" type="submit">Tilbage</button>
        </form>
    </div>

    <div class="user_email_bar"
         th:if="${session.currentUser != null}" th:text="${session.userEmail}">
    </div>
    <div class="login_or_out">
        <div class="logout" th:if="${session.currentUser != null}">
            <form th:action="@{/logout}" method="get">
                <button class="text-margin" type="submit">Log ud</button>
            </form>
        </div>
    </div>


</header>

<h2><b> <i> Du er nu på Kunde Overblik siden.</i> </b></h2>

</body>
</html>