<!DOCTYPE html>
<html lang="en">
<head>

    <title>Kunde Overblik</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="login-logo">
    <img src="../public/images/fog-banner-logo.png" th:src="@{/images/fog-banner-logo.png}"/>
</div>
<header>
    <div class="return">
        <form th:action="@{/backtoindex}" method="get">
            <button class="button-blue" type="submit">Tilbage</button>
        </form>
    </div>

    <div class="button-same-row">
        <div class="user_email_bar"
             th:if="${session.currentUser != null}" th:text="${session.userEmail}">
        </div>

        <div class="login_or_out">
            <div class="logout" th:if="${session.currentUser != null}">
                <form th:action="@{/logout}" method="get">
                    <button class="text-margin button-red" type="submit">Log ud</button>
                </form>
            </div>
        </div>
    </div>
</header>

<h2><b> <i> Du er nu på Kundeoverblik-siden.</i> </b></h2>
<table class="table-border">
    <thead>
    <tr>
        <th>Order id</th>
        <th>Width</th>
        <th>Length</th>
        <th>Installation fee</th>
        <th>status</th>
        <th>Price</th>
        <th>stykliste</th>
        <th>Action</th>
    </tr>
    </thead>

    <div th:each="order : ${orderListCustomer}">
        <form th:action="@{showPartsList}" method="post">
            <tr>
                <td><input type="hidden" name="orderIdChosen" th:value="${order.orderId}" th:text="${order.orderId}">
                </td>
                <td th:text="${order.carportWidth}"></td>
                <td th:text="${order.carportLength}"></td>
                <td th:text="${order.installationFee}"></td>
                <td>
                    <div th:switch="${order.orderStatusId}">
                        <p class="yellow-text" th:case="'1'">Under gennemsyn</p>
                        <p class="red-text" th:case="'2'">Afventer betaling</p>
                        <p class="green-text" th:case="'3'">Betalt</p>
                    </div>
                </td>
                <td th:text="${order.totalPrice}"></td>

                <td>
                    <div th:if="${order.orderStatusId == 3}">
                        <button type="submit">Se stykliste</button>
                    </div>
                </td>
        </form>
        <td>
            <div th:if="${order.orderStatusId == 2}">
                <form th:action="@{/updateStatusOnOrder}" method="post">
                    <input type="hidden" name="orderId" th:value="${order.orderId}">
                    <input type="hidden" name="status" th:value="${order.orderStatusId}">
                    <button type="submit">Betal Ordre</button>
                </form>
            </div>
        </td>
        </tr>
        </form>
    </div>
</table>
</body>
</html>