<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kunde Overblik</title>

    <div class="login_or_out">
        <div class="logout" th:if="${session.currentUser != null}">
            <form th:action="@{/logout}" method="get">
                <button class="text-margin" type="submit">Log ud</button>
            </form>
        </div>
    </div>
</head>
<body>

<form
        action="index.html" th:action="@{/backtoindex}">
    <button class="webform" type="submit" style="background: #71f70b; max-height: 45px;">Tilbage</button>
</form>

<h2> <b> <i> Du er nu på Kunde Overblik siden.</i> </b> </h2>

</body>
</html>