<!DOCTYPE html>
<html lang="en">
<head>
    <title>Design din carport</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script>
        function updateHiddenFields() {
            const length = document.getElementById('lengthdropdown').value;
            const width = document.getElementById('widthdropdown').value;

            document.getElementById('hiddenLength').value = length;
            document.getElementById('hiddenWidth').value = width;
        }
    </script>
</head>
<body class="design-carport-body">

<div class="design-carport-form">
    <header>
        <div class="return">
            <form th:action="@{/backtoindex}" method="get">
                <button class="button-blue" type="submit">Tilbage</button>
            </form>
        </div>
    </header>

    <div class="design-carport-box" th:if="${session.currentUser == null}">
        <div class="login_check" th:if="${session.currentUser == null}">
            <div class="login-logo">
                <img src="../public/images/fog-banner-logo.png" th:src="@{/images/fog-banner-logo.png}"/>
            </div>
            <p>Venligst login for adgang til design funktion</p>
            <form th:action="@{/loginpage}" method="get">
                <button type="submit" class="button-blue">Login</button>
            </form>
        </div>
    </div>

    <div class="requestform" th:if="${session.currentUser != null}">
        <div class="login-logo">
            <img src="../public/images/fog-banner-logo.png" th:src="@{/images/fog-banner-logo.png}"/>
        </div>
        <h3>Bestill din egen skræddersyet carport</h3>
        <hr>
        <form th:action="@{/sendRequest}" method="post" onsubmit="updateHiddenFields()">
            <label for="firstname">Fornavn</label>
            <input type="text" id="firstname" name="firstname" th:value="${session.currentUser.firstName}"/>
            <label for="lastname">Efternavn</label>
            <input type="text" id="lastname" name="lastname" th:value="${session.currentUser.lastName}"/>
            <label for="address">Adresse</label>
            <input type="text" id="address" name="address" th:value="${session.currentUser.address}"/>
            <label for="postcode">Post nummer</label>
            <input type="text" id="postcode" name="postcode" th:value="${session.currentUser.zipCode}"/>
            <label for="phone">Telefon nummer</label>
            <input type="text" id="phone" name="phone" th:value="${session.currentUser.phoneNumber}"/>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" th:value="${session.userEmail}"/>
            <br>

            <label for="bygSelv">Jeg bygger selv</label>
            <input type="radio" id="bygSelv" name="installationFee" value="false"/>

            <br><br>
            <label for="installationFee">Bygget af FOG (+5000 kr.)</label>
            <input type="radio" id="installationFee" name="installationFee" value="true"/>
            <br><br>

            <div class="dropdown">
                <p>Længde på din carport</p>
                <label for="lengthdropdown"></label>
                <select id="lengthdropdown" name="selectedcarportlength" onchange="updateHiddenFields()">
                    <option disabled selected>Vælg længde</option>
                    <th:block th:each="carportLength : ${session.carportLengthList}">
                        <option th:value="${carportLength}" th:text="${carportLength}"></option>
                    </th:block>
                </select>
            </div>

            <div class="dropdown">
                <p>Bredde på din carport</p>
                <label for="widthdropdown"></label>
                <select id="widthdropdown" name="selectedcarportwidth" onchange="updateHiddenFields()">
                    <option disabled selected>Vælg bredde</option>
                    <th:block th:each="carportLength : ${session.carportLengthList}">
                        <option th:value="${carportLength}" th:text="${carportLength}"></option>
                    </th:block>
                </select>
            </div>
            <br><br>

            <button class="button-green" type="submit">Send forspørgelse</button>
            <p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p>
        </form>

        <form th:action="@{/generateSvg}" method="get" onsubmit="updateHiddenFields()">
            <input type="hidden" id="hiddenLength" name="selectedcarportlength">
            <input type="hidden" id="hiddenWidth" name="selectedcarportwidth">
            <button class="button-green" type="submit">Se skitse</button>
            <div class="carport-svg-topview">
                <div th:utext="${svg}"></div>
            </div>
        </form>
    </div>

</div>
</body>
</html>
