<!DOCTYPE html>
<html lang="en">
<head>
    <title>Design din carport</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>

    <div class="return">
        <form th:action="@{/backtoindex}" method="get">
            <button class="" type="submit">Tilbage</button>
        </form>
    </div>

    <div class="user_email_bar"
         th:if="${session.currentUser != null}" th:text="${session.userEmail}">
    </div>

    <div class="login_or_out">
        <div class="login" th:if="${session.currentUser == null}">
            <form th:action="@{/loginpage}" method="get">
                <button class="text-margin" type="submit">Login</button>
            </form>
        </div>

        <div class="logout" th:if="${session.currentUser != null}">
            <form th:action="@{/logout}" method="get">
                <button class="text-margin" type="submit">Log ud</button>
            </form>
        </div>
    </div>

</header>
<h3>her kan du designe din HELT EGEN MEGA SEJE CARPORT</h3>


<div class="design_input">
    <form action="designcarport" method="get">
        <label for="length">Længde:</label><br>
        <input type="text" id="length" name="length" placeholder="Længde"><br>
        <label for="width">Bredde:</label><br>
        <input type="text" id="width" name="width" placeholder="Bredde"><br><br>
        <button type="submit">Se din Carport</button>
        <p class="error" th:if="${message != null}" th:text="${message}"></p>
    </form>
</div>

<p>Din Carport:</p>
<div class="carport-svg-topview">
    <div th:utext="${svg}"></div>
</div>

</body>
</html>