<!DOCTYPE html>
<html lang="en">
<head>
    <title>Design din carport</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="login-logo">
    <img src="../public/images/fog-banner-logo.png" th:src="@{/images/fog-banner-logo.png}"/>
</div>

<header>

    <div class="return">
        <form th:action="@{/backtoindex}" method="get">
            <button class="button-blue" type="submit">Tilbage</button>
        </form>
    </div>

    <div class="button-same-row">
        <div class="user_email_bar"
             th:if="${session.currentUser != null}" th:text="${session.userEmail}">
        </div>


        <div class="login_or_out">
            <div class="login" th:if="${session.currentUser == null}">
                <form th:action="@{/loginpage}" method="get">
                    <button class="text-margin button-blue" type="submit">Login</button>
                </form>
            </div>

            <div class="logout" th:if="${session.currentUser != null}">
                <form th:action="@{/logout}" method="get">
                    <button class="text-margin button-red" type="submit">Log ud</button>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="login_check" th:if="${session.currentUser == null}">
    <div class="login-box">
        <p>Venligst login for adgang til design funktion</p>
        <form th:action="@{/loginpage}" method="get">
            <button type="submit" class="button-blue">Login</button>
        </form>
    </div>
</div>


<div th:if="${session.currentUser != null}">
    <h3>Her kan du designe din HELT EGEN MEGA SEJE CARPORT</h3>

    <div class="design_input" th:if="${session.currentUser != null}">
        <form action="generateSvg" method="get">
            <label for="length">Carportens længde:</label><br>
            <input type="text" id="length" name="length" placeholder="Længde i cm"><br>
            <label for="width">Carportens bredde:</label><br>
            <input type="text" id="width" name="width" placeholder="Bredde i cm"><br><br>
            <button type="submit" class="button-green">Generér carport</button>
            <p class="error" th:if="${message1 != null}" th:utext="${message1}"></p>
        </form>
    </div>

    <p>Din Carport:</p>
    <div class="carport-svg-topview">
        <div th:utext="${svg}"></div>
    </div>

    <hr>

    <div class="requestform">
        <form action="sendRequest" method="post">
            <label for="firstname">Fornavn</label>
            <input type="text" id="firstname" name="firstname" th:value="${session.currentUser.firstName}"/>
            <label for="lastname">Efternavn</label>
            <input type="text" id="lastname" name="lastname" th:value="${session.currentUser.lastName}"/>
            <label for="address">Adresse</label>
            <input type="text" id="address" name="address" th:value="${session.currentUser.address}"/>
            <label for="postcode">Post nummer</label>
            <input type="text" id="postcode" name="postcode" th:value="${session.currentUser.zipCode}"/>
            <label for="phone">Telefon nummer</label>
            <input type="text" id="phone" name="phone" th:value="${session.currentUser.phoneNumber}"/>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" th:value="${session.userEmail}"/>
            <br>

            <label for="bygSelv">Jeg bygger selv</label>
            <input type="radio" id="bygSelv" name="installationFee"/>

            <br><br>
            <label for="installationFee">Få bygget af FOG (+5000-,)</label>
            <input type="radio" id="installationFee" name="installationFee"/>
            <br><br>

            <select id="lengthdropdown" name="selectedcarportlength" th:each="length : ${carportLengthList}">
                <option value="" disabled selected>Vælg længde</option>
                <option th:text="${length}" th:value="${length}"></option>
                <option th:text="${length}" th:value="${length}"></option>
                <option th:text="${length}" th:value="${length}"></option>
                <option th:text="${length}" th:value="${length}"></option>
                <option th:text="${length}" th:value="${length}"></option>
                <option th:text="${length}" th:value="${length}"></option>
            </select>


            <label for="testlength">testlength</label>
            <input type="text" id="testlength" name="length"/>

            <button type="submit" value="">Send forspørgelse</button>
        </form>
    </div>

</div>
</body>
</html>