<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div class="login-logo">
    <img src="../public/images/fog-banner-logo.png" th:src="@{/images/fog-banner-logo.png}"/>
</div>

<header>

    <div class="button-same-row">
        <div class="user_email_bar"
             th:if="${session.currentUser != null}" th:text="${session.userEmail}">
        </div>

        <div class="panel_overview">
            <div class="admin_panel" th:if="${session.userRole == 'admin'}">
                <form th:action="@{/adminoverview}" method="get">
                    <button class="text-margin button-blue" type="submit">Kundeoversigt</button>
                </form>
            </div>

            <form th:action="@{/designcarport}" href="designcarport.html">
                <button class="text-margin button-blue" type="submit">Design carport</button>
            </form>

            <div class="customer_panel" th:if="${session.userRole == 'customer'}">
                <div class="button-container">
                    <form th:action="@{/customeroverview}" method="get">
                        <button class="text-margin button-blue" type="submit">Mit overblik</button>
                    </form>

                    <!-- SVG tegning test-->

                </div>
            </div>
        </div>

        <div class="login_or_out">
            <div class="login" th:if="${session.currentUser == null}">
                <form th:action="@{/loginpage}" method="get">
                    <button class="login-button-index button-blue" type="submit">Login</button>
                </form>
            </div>

            <div class="logout" th:if="${session.currentUser != null}">
                <form th:action="@{/logout}" method="get">
                    <button class="text-margin button-red" type="submit">Log ud</button>
                </form>
            </div>
        </div>
    </div>
</header>


<h4>Flotte fog carporte</h4>

<a href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x4-80-m-car01du-00821">
    <img src="../public/images/CarPort1.png" th:src="@{/images/CarPort1.png}" width="117" height="95"/>
</a>
<a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822">
    <img src="../public/images/CarPort2.png" th:src="@{/images/CarPort2.png}" width="117" height="95"/>
</a>
<a href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x7-80-m-cp01dur-00823">
    <img src="../public/images/Carport3.png" th:src="@{/images/Carport3.png}" width="117" height="95"/>
</a>

<br>

<div class="fog_carport_link">
    <h4>Køb din færdigbyggede carporte her</h4>
    <a href="https://www.johannesfog.dk/have-fritid/carporte">
        <img src="../public/images/CarportLogo.png" th:src="@{/images/CarportLogo.png}" width="117" height="95"/>
    </a>
</div>

</body>
</html>
