<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<header>
    <div class="return">
        <form th:action="@{/backtoindex}" method="get">
            <button class="" type="submit">Tilbage</button>
        </form>
    </div>
</header>


<p style="font-family: Brush Script Std; font-weight: lighter; font-size: 50px;">Velkommen</p>
<h3>Vær venling at logge ind</h3>

<div class="login_input">
    <form action="login" method="post">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" placeholder="email"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="password"><br><br>

        <button class="loginbottom" type="submit">Login</button>
        <p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p>
    </form>

    <div class="create_user_button">
        <form th:action="@{/createuserpage}" method="get">
            <button class="" type="submit">Opret bruger</button>
        </form>
    </div>
</div>

</body>
</html>