<!DOCTYPE html>
<html lang="en">
<head>
    <title>Request sent</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<div class="login-form">
    <div class="login-box">
            <h3>Din forespørgsel er nu sendt og er under gennemsyn</h3>
        <div th:if="${session.userRole == 'customer'}">
            <form th:action="@{/orderoverviewcustomer}" method="get" >
                <button class="button-blue" type="submit">See status</button>
            </form>
        </div>
        <div th:if="${session.userRole == 'admin'}">
            <form th:action="@{/adminoverview}" method="get">
                <button class="button-blue" type="submit">Se status</button>
            </form>
        </div>
    </div>
</div>
<body>

</body>
</html>