<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opdater Ordrer</title>
</head>
<body>
<h1>Ændre Order</h1>
<form class=" " method="post">
    <label>Carport Brede</label>
    <input type="text" name="carportWidth" th:value="${order.carportWidth}"/>
    <br>
    <label>Carport Længde</label>
    <input type="text" name="carportLength" th:value="${order.carportLength}"/>
    <br>
    <label>Installations Gebyr</label>
    <input type="text" name="installationFee" th:value="${order.installationFee}"/>
    <br>
    <label>Status</label>
    <input type="text" name="status" th:value="${order.orderStatusId}"/>
    <br>
    <label>Total pris</label>
    <input type="text" name="totalPrice" th:value="${order.totalPrice}"/>

    <br>

    <button type="submit" name="orderId" th:value="${order.orderId}" formaction="/updateOrder">Update</button>

</form>

</body>
</html>