/* Stylesheet for the application */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header{
    background-color: #013d7a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

h4{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #251400;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #251400;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-blue {
    background-color: #296ec6;
    color: black;
}

.button-green {
    background-color: #378a43;
    color: #ffffff;

}

.button-red {
    background-color: #a13737;
    color: black;
}

.button-same-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

field-error {
    border-radius: 2px;
    color: red;
}

.login-or-out {
    display: flex;
}


.login-form {
    background-color: #013d7a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login-box {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-two {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.return {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.login button:hover {
    text-decoration: underline;
}


.login-input input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user_email_bar {
    padding: 10px;
    margin: 10px 0;
    background-color: #296ec6;
    border-radius: 5px;
    max-width: 300px;
    color: #000;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.text-margin {
    margin: 100px;
}



/* SVG */
.carport-svg-topview {
    max-width: 600px;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}

.create-user-box {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body.create-user-form {
    background-color: #013d7a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 20vh;
    margin-top: 20vh;
    padding: 0;
}