/* Stylesheet for the application */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #013d7a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

h4 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #251400;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #251400;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-blue {
    background-color: #296ec6;
    color: black;
}

.button-green {
    background-color: #378a43;
    color: #ffffff;

}

.button-red {
    background-color: #a13737;
    color: black;
}

.button-same-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5px;
}

.password-input-box {

}

.password-input-box input {
    width: 100%;
}

.password-input-box img {
    width: 35px;
    cursor: pointer;
}

.field-error {
    border-radius: 2px;
    color: red;
}

.login-or-out {
    display: flex;
}


.login-form {
    background-color: #013d7a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login-box {
    position: revert;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-two {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.return {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.login button:hover {
    text-decoration: underline;
}


.login-input input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user_email_bar {
    padding: 10px;
    margin: 10px 0;
    background-color: #296ec6;
    border-radius: 5px;
    max-width: 300px;
    color: #000;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.text-margin {
    margin: 100px;
}


/* SVG */
.carport-svg-topview {
    max-width: 600px;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}

.create-user-box {
    position: revert;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

body.create-user-form {
    background-color: #013d7a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 20vh;
    margin-top: 20vh;
    padding: 0;
}

.panel_overview{
    margin: auto;
}

.login_check{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-border {
    border-collapse: collapse; /* Collapses the border between cells */
    width: 100%; /* Optional: Sets the width of the table to fill the container */
    margin: 20px 0; /* Optional: Adds space around the table */
}

.table-border-stykliste {
    border-collapse: collapse; /* Collapses the border between cells */
    width: 50%; /* Optional: Sets the width of the table to fill the container */
    margin: 20px 0; /* Optional: Adds space around the table */
}

.table-border, th, td {
    border: 1px solid black; /* Adds a black border to the table and each cell */
    padding: 8px; /* Adds padding inside each cell */
}



.requestform {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; /* Center horizontally */
    margin-top: 20px; /* Adjust top margin as needed */
}

.updateorderform {
    position:revert;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Use percentage for width */
    margin-top: 10vh;
}

.updateorderpage {
    background-color: #013d7a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.updateOrder{
    width: 100%;
}

button.styklist-button{
    padding: 5px;
    width: 75%;
}

button.edit-button{
    padding: 5px;
    width: 75%;
}